#textarea {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.nav-open .sidebar-collapse .wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.page-header {
    color: black;
    padding-bottom: 30px;
    height: 100%;
}

.cards {
    height: 100%;
}

.card-title {
    font-family: 'Chewy', cursive;
    font-size: 30px;
}

.text-muted {
    color: white!important;
    font-weight: 900;
}

.card-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 900;
    font-size: 20px;
}

.modal-body {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
}

.modal-header {
    font-family: 'Chewy', cursive;
    font-size: 35px;
}

.abouts {
    margin-top: 0;
}

.buttons {
    width: 100%;
}

.wrapper {
    background: #558AD8;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(#558AD8 0%, #FFF4C5 80%);
    background: -o-linear-gradient(#558AD8 0%, #FFF4C5 80%);
    background: linear-gradient(#558AD8 0%, #FFF4C5 80%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dropdown {
    padding: auto;
}

@media screen and (max-width: 991px) {
    .carousel {
        display: none;
    }
    .title {
        display: none;
    }
    .logo {
        height: 75px;
    }
}

#map {
    height: 400px;
    width: 100%;
}

.card {
    background-color: #FFC107;
    width: 100%;
    border: 2px solid black;
}

.card-lead {
    height: 885px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.card-back {
    height: 650px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.navbar {
    border-bottom: 2px solid black;
}

.navbar-transparent {
    border-bottom: none;
}

.btn {
    border: 1px solid black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: 800;
}

.rounded {
    -webkit-mask-box-image: url("stamp.svg");
    -webkit-mask-border: url("stamp.svg");
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: #F7AD0A;
        background: -webkit-linear-gradient(#2196F3 0%, #FFC107 80%);
        background: -o-linear-gradient(#2196F3 0%, #FFC107 80%);
        background: -moz-linear-gradient(#2196F3 0%, #FFC107 80%);
        background: linear-gradient(#2196F3 0%, #FFC107 80%);
    }
}

h4,
.h4 {
    font-size: 1.714em;
    line-height: 1.45em;
    margin-top: 0px;
    margin-bottom: 15px;
}

#animate-area {
    background: url(foggy.png) repeat-x;
    /* animation: animatedBackground 12s linear infinite; */
}

@-webkit-keyframes animatedBackground {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 1600px 0px;
    }
}